# Data Science Tools and Ecosystem

  In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

ordered list

1. PYTHON
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

ordered list

1. Pandas

2. Scikit-learn 

3. Nympu

Data Science Tools

|Environment open source|
|-----------------------|
| R studio |
| Jyputer notbook |
| Jyputer lab|

Below are a few examples of evaluating arithmetic expressions in Python

print(2+5)

7

print(2*6)

12

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60.
 
 H=200//60
 print(H,"h")

3 h

Objectives:

unordered list

List popular languages for Data Science

* Python
* R
* SQL
* Scala
* Java

## Author
   Barry